{
  "extends": [
    "@oneness-ui/eslint-config",
    "@oneness-ui/eslint-config/configurations/prettier",
    "@oneness-ui/eslint-config/configurations/import"
  ],
  "root": true,
  "env": {
    "node": true
  }
}